body {
    background-color: azure;
}

h1 {
    text-align: center;
}

.art-store {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

.art-product {
    border: 2px solid black;
    width: 350px;
    height: auto;
}

.art-product p {
    font-style: italic;
}

.art-title {
    color: pink;
}

.socials {
    text-align: center;
}